* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://64.media.tumblr.com/4e0eb401f254eea1e27a092619b72a19/c3f14241264a4f2a-f2/s1280x1920/3adde02e8a9eacb8497a1510eb4fec7791aaeb71.gifv");
    height:50em; background-size:cover; width:auto;
    background-position: 50% 50%;
}